<script>
$(function (){

  $.ajax({
    type: 'GET',
    contentType: "application/json",
    dataType: "json",
    url: 'http://localhost:9292/api/listings/get/filtered',
    success: function(listings) 
    {
      $.each(listings, function(i,listing) 
      {
      
      $('#card').append(
      '<div class="card-deck">' +
        '<div class="card" style="width: 18rem; margin: 20px;">' +
            '<div class="card-body">' +
              '<h5 id = "listingName" class="card-title">'+ listing.name +'</h5>' +
              '<p id = "description" class="card-text">Description:'+ listing.description +'</p>' +
            '</div>' +

            '<ul class="list-group list-group-flush">' +
            '<li class="list-group-item">'+ listing.available_start_date +'-'+ listing.available_end_date + '</li>' +
            '<li id = "location" class="list-group-item">Address:'+ listing.location +'</li>' +
            '<li id = "city" class="list-group-item">'+ listing.city +'</li>' +
            '</ul>' +
      
            '<div class="card-body">' + 
              '<a href="#" class="card-link">Book</a>' +
            '</div>' +

            '<div class="card-footer">' +
              '<small class="text-muted">Last updated 3 mins ago</small>' +
            '</div>' +

          '</div>' +
      '</div>'
      );
      }
      );
    }
  });
})
</script>

<div id = 'card' class="row text-center justify-content-center" style="display:flex; flex-wrap:wrap;">
  
</div>