    <script src="/src/billing.js"></script>
    <script src="/src/billingInterface.js"></script>

        <div class="form">
          <h1>Pay the host</h1>

          <div class="field-wrap">
            <input id="name" type="text" name="name" placeholder="Your Full Name">
          </div>
              
          <div class="field-wrap">
            <input id="amount" type="text" name="amount" placeholder="Amount to pay">
          </div>

          <div class="field-wrap">
            <input id="listingDesc" type="text" name="listingDesc" placeholder="Payment Description">
          </div>
    
          <div class="field-wrap">
            <input id="email" type="email" name="email" placeholder="Email">
          </div>
    
          <button id="payHost" name="payHost" class="button button-block">
            Pay
          </button>
        </div>
