<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="/public/css/style.css" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/src/signoutInterface.js"></script>
    <script src="/src/signupInterface.js"></script>
    <script src="/src/loginInterface.js"></script>
    <script src="/src/user.js"></script>
     <link rel="icon" href="/images/favicon.ico">
    <title>Makers BnB</title>
</head>
<body>
  <%= yield %>
</body>
</html>