<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="/public/css/style.css" />
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/src/signoutInterface.js"></script>
    <script src="/src/signupInterface.js"></script>
    <script src="/src/listingInterface.js"></script>
    <script src="/src/loginInterface.js"></script>
    <script src="/src/requestInterface.js"></script>
    <script src="/src/user.js"></script>
    <script src="/src/listing.js"></script>
    <link rel="icon" href="/images/favicon.ico">
    <title>Makers BnB</title>
</head>
<body>
  <%= yield %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
