
    <div class="form">

      <div id="login-form">
        <h1>Log in</h1>

          <div class="field-wrap">
            <input name="email" type="email" id="email" placeholder="Email" />
          </div>

          <div class="field-wrap">
            <input name="password" type="password" id="password" placeholder="Password" />
          </div>

          <button id="login_submit" name = "login" class="button button-block">
            Log in
          </button>

      </div>
    </div>

