
    <div class="form">

      <div id="signup-form">
        <h1>Sign Up</h1>

          <div class="top-row">
            <div class="field-wrap">
              <input name ="firstName" type="text" id="firstName" placeholder="First name" />
            </div>

          <div class="field-wrap">
              <input name="lastName" type="text" id="lastName" placeholder="Last name" />
          </div>
          </div>

          <div class="field-wrap">
            <input name="email" type="email" id="email" placeholder="Email" />
          </div>

          <div class="field-wrap">
            <input name="password" type="password" id="password" placeholder="Password" />
          </div>

          <button id="submit" name = "signup" class="button button-block">
            Sign up
          </button>

      </div>
    </div>
