<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Is this the space for you?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>

    <div class="form">

      <h1 id="listingName"><%=@listing[:name]%></h1>

      <p id="listingDescription">This space is in <%=@listing[:location]%>, <%=@listing[:city]%></p>

      <p>When would you like to book?</p>

      <div class="field-wrap">
        <input type="text" id="startDate">
      </div>



      <button type="button" id="request" name="request" class="button button-block">
        Request
      </button>

      <input type="hidden" id="listingID" value="<%=@listing_id%>">


    </div>

    <script type="text/javascript" src="../../src/requestInterface.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        var datePicker = flatpickr("#startDate", {
          disable: ["2019-01-16", "2019-01-18"],
          dateFormat: "Y-m-d",
          inline: true
        });
    </script>

  </body>

</html>
